<fluent-text-empty *ngIf="book.length == 0">{{
  this.emptyText
}}</fluent-text-empty>

<fluent-carde *ngIf="book.length != 0" (click)="updateTotal()">
  <fluent-card *ngFor="let book of book">
    <img src="{{ book.imagePath }}" />
    <fluent-container>
      <fluent-description-container>
        <fluent-title> {{ book.title }}</fluent-title>
        <fluent-price>{{ book.price | currency: "EUR" }}</fluent-price>
      </fluent-description-container>

      <fluent-description-container>
        <fluent-button-x (click)="removeCartItem(book)">
          <img src="{{ this.xIcon }}" id="xIcon"
        /></fluent-button-x>
        <input
          type="number"
          min="1"
          max="10"
          #input
          [value]="book.quantity"
          formControlName="inputValueTest"
          (blur)="validateInput($event, input.value, book)"
        />
      </fluent-description-container>
      <fluent-error *ngIf="+input.value > 10"
        >You can't add more then 10 books</fluent-error
      >
    </fluent-container>
  </fluent-card>
  <hr />

  <fluent-checkout>
    <fluent-title>
      <strong> Total cost: </strong>
    </fluent-title>
    <fluent-price>
      <strong> {{ totalCost | currency: "EUR" }}</strong>
    </fluent-price>

    <fluent-checkout-button [routerLink]="['/checkout']">
      <p>{{ this.checkout }}</p>
    </fluent-checkout-button>
  </fluent-checkout>
</fluent-carde>
