fluent-text-empty {
  display: flex;
  border: none;
  padding-top: 20vh;
  justify-content: center;
  font-weight: bold;
}

fluent-card {
  display: flex;
  flex-direction: row;
  margin: 3vh auto 32px;
  padding: 0 16px;
  border: solid;
  border-radius: revert;
  padding: 1vh;
  width: 95vw;
  align-self: center;
}

fluent-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

fluent-description-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 5vh;
}

fluent-button-x {
  display: flex;
  justify-content: flex-end;
}

fluent-title {
  margin-left: 2vw;
}

fluent-price {
  height: 6vh;
  margin-left: 2vw;
}

fluent-checkout {
  display: flex;
  flex-direction: column;
}

fluent-back-button {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #8cb979;
  color: white;
  border: none;
  align-self: center;
  margin-top: 13vh;
}

fluent-checkout-button{
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #8cb979;
  color: white;
  border: none;
  width: 95vw;
  align-self: center;
}

hr {
  width: 95%;
  height: 0.2vh;
  background-color: #000;
}

input {
  width: 10vh;
}

input[type="number"]::-webkit-inner-spin-button {
  padding-left: 10px;
  opacity: 1000;
}

#xIcon {
  width: 4vh;
  height: 4vh;
  padding-right: 0;
}

img {
  width: 15vh;
  height: 15vh;
}

fluent-checkout-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

::placeholder {
  width: fit-content;
  background-color: #d3d3d3;
  color: black;
}

fluent-error {
  position: absolute;
  color: #cd5c5c;
  right: 1vh;
  top: 7vh;
}

button {
  background-color: #8cb979;
  color: white;
  border: none;
  width: 95%;
  height: 8vh;
  margin-top: 5vh;
}
