<fluent-card *ngIf="book" [title]="book.title + ' details'">
  <fluent-title>
    {{ book.title }}
  </fluent-title>
  <img src="{{ book.imagePath }}" alt="{{ book.imageAltTag }}" />
  <fluent-description>{{ book.description }}</fluent-description>
  <fleunt-quantity>
    <fluent-amount>
      <fluent-amount-text>{{ this.amountText }}</fluent-amount-text>
      <input type="number" min="1" max="10" value="1" />
    </fluent-amount>
    <fluent-price>{{ book.price | currency }}</fluent-price>
  </fleunt-quantity>
  <fluent-button appearance="outline" (click)="addToCart(book)">{{
    this.addToCartText
  }}</fluent-button>
</fluent-card>
