fluent-card {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
}

fluent-button {
  background-color: #8cb979;
  color: white;
  border: none;
}

img {
  height: 80vh;
  width: 100%;
}

div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h5 {
  font-size: 3vh;
}
