fluent-card {
  display: flex;
  margin: 10vh auto 6vh;
  padding: 0 2.8vh;
  flex-direction: column;
}

fluent-button {
  background-color: #8cb979;
  color: white;
  border: none;
}

img {
  height: 80vh;
  width: 100%;
}

fluent-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2vh;
}

fluent-title {
  font-weight: bold;
  font-size: 3vh;
}

fluent-price {
  font-size: 3vh;
}
